.data-container {
  border: 3px solid #fff;
  padding: 20px;
}

.temperature-container {
  width: 45%;
  float: left;
  padding: 20px;
  border: 2px solid black;
}

.humidity-container {
  width: 45%;
  float: left;
  padding: 20px;
  border: 2px solid black;
}  

th,td {
  padding: 6px;
  width: 50%;
  border: 1px solid #ccc;
  text-align:center;
}